/* Body */
body {
  font-family: "Rubik", sans-serif;
}

sup {
  color: #ff846c;
}

/* Navbar */
.navbar {
  display: flex;
  background-color: #ff846c;
  align-items: center;
  padding: 20px 80px;
  justify-content: space-between;
  color: white;
}

.store-logo-name {
  display: flex;
  gap: 12px;
  align-items: center;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.name {
  font-size: 2.5em;
}

.nav-keys {
  display: flex;
  gap: 40px;
}

/* Home Page */
.home-page {
  background-image: url("./assets/background-img-tobby.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 99vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home-info {
  color: white;
  width: 40vw;
  width: 632px;
  margin: 240px 200px 40px 0px;
}

.service-container {
  display: flex;
  gap: 24px;
  margin-right: 200px;
}

.service-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff846c;
  border-radius: 25px;
  font-size: 1.4em;
  width: 140px;
  height: 60px;
}

/* Grooming Page */
.grooming-page,
.calendar-page,
.bording-page,
.form-page,
.confirmation-page,
.last-orders-page,
.edit-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 16px;
}

.size-container {
  display: flex;
  gap: 40px;
  margin-bottom: 100px;
}

.package-container {
  display: flex;
  gap: 40px;
  margin-bottom: 100px;
}

.continue-button,
.submit-button,
.book-now-button,
.update-button {
  width: 274px;
  height: 50px;
  border-radius: 15px;
  background-color: #ff846c;
  border: none;
  font-size: 1.2em;
  margin-bottom: 40px;
  color: white;
  font-weight: bold;
}

/* Size Card && Package Card */
.size-card,
.package-card {
  position: relative;
  text-align: center;
  border-radius: 5%;
}

.size-card.selected,
.package-card.selected {
  border: 3px solid black;
}

.size-picture,
.package-picture {
  width: 250px;
  height: 250px;
  border-radius: 5%;
}

.size-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 180px;
  font-size: 1.4em;
  color: white;
}

.package-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  padding-bottom: 210px;
  font-size: 1.4em;

  width: 200px;
}

.additional-info-box {
  position: absolute;
  top: 80%;
  left: 2%;
  right: 2%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
  display: none;
}

.size-card:hover .additional-info-box,
.package-card:hover .additional-info-box {
  display: block;
}

.additional-info-box p {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  text-align: left;
}

.size-card:hover,
.package-card:hover {
  transform: scale(1.03);
  transition: 0.6s;
}

/* Calendar Page */
/* Calendar */
.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  gap: 32px;
  margin-bottom: 100px;
}

.month {
  display: flex;
  /* justify-content: space-between; */
  width: 450px;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.button-month {
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.days {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  width: 450px;
  height: 90px;
  white-space: nowrap;
}

.day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 0px;
  align-items: center;
  border-radius: 15px;
  width: 50px;
  height: 50px;
  flex: 0 0 auto;
  border: none;
  background-color: #ffebe6;
}

.weekday {
  font-size: 0.6em;
}

.day.selected {
  background-color: #ff846c;
  color: white;
  border: none;
}

.hours {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.morning,
.afternoon {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.morning-hours,
.afternoon-hours {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.hour {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 15px;
  background-color: #ffebe6;
}

.hour.selected {
  background-color: #ff846c;
  color: white;
  border: none;
}

/* Form Page */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 100px;
}

.email-input,
.name-input,
.lastname-input,
.number-input,
.comment-input {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
}

input {
  width: 350px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid gray;
  padding: 0px 0px 0px 16px;
}

textarea {
  width: 350px;
  height: 90px;
  border-radius: 15px;
  border: 1px solid gray;
  padding: 8px 8px;
}

/* Confirmation Page */
.confirmation-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 20vw;
  background-color: #ffebe6;
  border-radius: 15px;
  padding: 24px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.date-time,
.service,
.your-details,
.summary {
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 12px;
  gap: 8px;
}

.date-time-title,
.service-size-title,
.details-title,
.summary-title {
  padding-bottom: 16px;
}

.client-name-info,
.client-phone-info,
.client-email-info,
.client-size-info,
.client-service-info {
  display: flex;
  gap: 4px;
}

.service-info,
.dog-size-info,
.total-info {
  display: flex;
  justify-content: space-between;
}

/* Last Orders */
.last-orders-page {
  margin-bottom: 40px;
}

/* Order */
.order {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #ffebe6;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.order-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.elipsis-options {
  align-items: center;
  padding: 12px;
  display: flex;
  flex-direction: column;
  width: 5vw;
  gap: 12px;
  background-color: #ffebe6;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.order-options {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.order-buttons {
  background-color: #ff846c;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

/* Edit Page */

.edit-form {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-bottom: 100px;
  gap: 24px;
}

.full-name-input,
.contact-input,
.service-size-input {
  display: flex;
  justify-content: space-between;
}

/* Footer */
.footer {
  display: flex;
  background-color: #ff846c;
  justify-content: space-between;
  padding: 20px 120px;
  color: white;
}

.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-logo-name {
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer-logo-name > img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.footer-logo-name > p {
  font-size: 2em;
}

.footer-links {
  display: flex;
}

.footer-links > a {
  border-radius: 50%;
  color: white;
  font-size: 40px;
  padding: 12px;
  width: 40px;
  height: 40px;
}
